__pycache__/
*.pyc
*.pyo
*.so
*.o
*.a
*.egg-info/
build/
dist/
.ipynb_checkpoints/
.DS_Store
.vscode/

output/
o_output/
render/
point_cloud/
block_init_pcd/
processed_blocks*/
*.ply
*.npz
*.npy
*.png
*.jpg
*.jpeg
*.zip

submodules/*
!submodules/README.md

